<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>2021</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.publications.2021 %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
          <p>{{ section.url }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>2020</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.publications.2020 %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
          <p>{{ section.url }}</p>
        {% endfor %}
            {% endif %}
  </div>
</div>
