---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>
<div> 
 <div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>2020 - 2025</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.courses.Fall 2020 - Spring 2025 %}
          <p class="fw-bold"><a href="{{ section.url }}">{{ section.title }}</a></p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>2014 - 2019</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.courses. Fall 2014 - Spring 2019 %}
          <p class="fw-bold"><a href="{{ section.url }}">{{ section.title }}</a></p>
          <p>{{ section.description }}</p>
        {% endfor %}
  </div>
</div>
