---
layout: default
---


{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Curriculum Vitae</h3>

    <!-- CV -->
<div class="row g-5 mb-5">
  <div class="col-md-2">
    <h4>CV</h4>
  </div>
  <div class="col-md-10">
    {% assign cv = site.data.cv.2026CVpdf[0] %}
    <a href="{{ cv.url }}" class="btn btn-primary" target="_blank">
      Download CV
    </a>
  </div>
</div>

<!-- Resume -->
<div class="row g-5 mb-5">
  <div class="col-md-2">
    <h4>Resume</h4>
  </div>
  <div class="col-md-10">
    {% assign resume = site.data.cv.2026Resumepdf[0] %}
    <a href="{{ resume.url }}" class="btn btn-outline-primary" target="_blank">
      Download Resume
    </a>
  </div>
</div>

    <!-- Education -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>

    <!-- Research Funding and Awards -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Research Funding and Awards</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.research-funding-awards %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>

    <!-- Employment -->
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Employment</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.employment %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>