---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Neuroscience and Behavior PhD Candidate and Science Communicator.</h3>
    {{I am interested in addiction and the intersection of stress and reward circuits modulating the transition from substance use to dependence. I’m specifically interested in the role of oligodendrocytes and myelin in strengthening stress circuits involved in the development of alcohol use disorder. I’m also interested in sex differences, neuro-glial cell interactions, and development of brain structures involved in decision-making processes and stress.
Keywords: Addiction, Alcohol, Sex differences, Oligodendrocytes, Stress, Reward, Behavior
}}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/hiking.jpg" alt="Hiking" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
